---
import BackgroundSlider from "../components/Common/BackgroundSlider";
import TitleCommandForm from "../components/Forms/TitleCommand";
import ParticleCommandForm from "../components/Forms/ParticleCommand";
import TimeCommandForm from "../components/Forms/TimeCommandForm";
import ServerInfo from "../components/Sections/ServerInfo.astro";
import Layout from "../layouts/Main.astro";
import WeatherCommandForm from "../components/Forms/WeatherCommand";
import SkinCard from "../components/Cards/SkinCard.astro";
---

<Layout
  description="Vos no sabés quién soy, pero ya vas a ver en el servidor. Bajate los mods, meté la IP y listo. Aquí se viene a jugar, no a preguntar."
  image="/assets/thumbnails/home.png"
  title="Jugar"
>
  <BackgroundSlider client:load />

  <div
    class="z-0 flex min-h-screen flex-col items-center justify-center gap-3 px-4"
  >
    <div class="flex min-h-screen w-full flex-col items-center justify-center">
      <SkinCard url={"/assets/skins/churri.png"} />

      <p class="max-w-md text-center text-lg text-gray-400">
        Hola, soy <strong>Churri</strong>, la mera dueña del server. Te estoy
        invitando con todo el flow... pero si no entrás, mando una patrulla que
        te vigile hasta que entres, ¿oíste? No digas que no se te avisó. 😎🚨
      </p>
    </div>

    <div class="flex min-h-screen w-full flex-col items-center justify-center">
      <ServerInfo />
    </div>

    <div class="w-full columns-1 gap-4 space-y-4 p-0 sm:columns-2">
      <TitleCommandForm client:load />
      <ParticleCommandForm client:load />
      <WeatherCommandForm client:load />
      <TimeCommandForm client:load />
    </div>
  </div>
</Layout>
